:root{
    --black: rgb(16, 24, 32);
    --white: rgba(238, 238, 238, 0.772);
    --brown: 	rgb(184, 120, 90);

}

*{
    overflow-x: hidden;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #101820;   
}

a{
    color: #fff;
}

/* navigation */
.nav-bar{
    background-color: var(--black, #101820); 
    font-size: 1.125rem;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.main-nav{
    list-style-type: none;
    display: none;
    margin-top: 15px;
}

.nav-bar a{
    text-decoration: none;
}

.main-nav li{
    text-align: center;
    margin: 15px auto;
}

.nav-links{
    color: var(--white, #eeeeee);
}

.nav-links:hover{
    color: var(--brown, #B8785A);
    letter-spacing: 0.1em;
 }

.logo{
    display: inline-block;
    font-size: 1.5625rem;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

.logo, .Navbar-toggle{
    color: #fff;
}

.logo:hover{
    color: var(--white, #eee);
    letter-spacing: 0.5em;
}

.Navbar-toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

.colored-text{
    color: var(--brown, #B8785A);
}

.dark-bg{
    background-color: var(--black, #101820); 
}


#cta-section{
    padding-top: 70px;
}

.cta-img-container{
    max-width: 400px;
}
.cta-heading{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.cta-para{ 
    text-align: center;
    font-size: 0.85rem;
}

#cta-section > hr{
    width: 100;
}

.services-icons{
    width: 50px;
}

hr{
    width: 50%;
    margin: auto;
}

.about-us-img-box, 
.pricing-img-box{
    background-color: #F4DCBE;
}


.pricing-card{
    padding: 50px;
    margin-bottom: 10px;
}

.pricing-card-box{
    display: flex;
    flex-direction: column;
   width: 100%;
}


.pricing-icons{
    display: flex;
    align-self: center;
    width: 50px;
}

.customer-img{
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border-radius: 10px;  
    border: 0.5px black solid;
}

.days-of-operation{
    flex-direction: column;
   text-align: center;
}

footer  a:hover{
    color: #B8785A;
}

@media (min-width: 500px){
    .days-of-operation{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (min-width: 768px){
    .nav-bar{
        display: flex;
        justify-content: space-around;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav{
        display: flex;
        margin-right:30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .main-nav li{
        margin: 0;
    }

    .nav-links{
        margin-left: 40px;
    }

    .logo{
        margin-top: 0;
    }

    .Navbar-toggle{
        display: none;
    }
  
    #cta-section{
        padding-top: 150px;
    }

    .cta-quote{
        margin-top: 60px;
    }

    .cta-heading{
        margin-top: -5px;
    }

    .aftercare-text{
        padding-top: 150px;
    }
    
    .days-of-operation{
        background-color: #fff;
        display: flex;
        flex-direction: row;
    }

    .pricing-card{
        margin-right: 10px;
    }

    .pricing-card-box{
        display: flex;
        flex-direction: row;
    }
    
    .pricing-img{
        width: 100%;
    }

}
